html, body, div, label{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body, #opening-modal, #closing-modal {
  background: -moz-linear-gradient(349deg, rgba(249,255,161,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(249,255,161,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(349deg, rgba(249,255,161,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(349deg, rgba(249,255,161,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(349deg, rgba(249,255,161,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
  background: linear-gradient(101deg, rgba(249,255,161,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9FFA1', endColorstr='#008080',GradientType=1 ); /* ie6-9 */s
}

button {
  width: 150px;
  height: 40px;
  background-color: white;
  margin: 10px auto
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/*label{
  margin-top: 5px;
  margin-bottom: 5px;
}*/

body {
  /*height: 100%;*/
  text-align: center;
}

.board-margin{
  margin-top: 7%;
  margin-bottom: 20%;
}
.hidden {
  display: none;
}

.show {
  display: flex;
}

#opening-modal , #closing-modal{
  /*change to flex to see*/
  flex-direction: column;
  position: absolute;
  justify-content: space-around;
  top: 20%;
  left: 33%;
  height: auto;
  width: 33%;
  background-color: white;
  text-align: center;
  border: 2px solid black;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 24px;
}

.row{
  display: inline-block;
}

.square{
  height: 50px;
  width: 50px;
}

.unexpored, .bomb, .zero, .one, .two, .three, .four, .five, .six, .seven, .eight, .flag, .exposed {
  background-size: 100% 100%;
}

.exposed {
  background-image: url(http://i.imgur.com/pTJ8Swhb.jpg);
}

.unexplored {
  background-image: url(http://i.imgur.com/HM1e3Tbb.jpg);
}

.bomb {
  background-image: url(http://i.imgur.com/UFmXprFb.jpg)
}

.zero {
  background-image: url(http://i.imgur.com/Flqdqi1b.jpg);
}

.one {
  background-image: url(http://i.imgur.com/bM8oExob.jpg);
}

.two {
  background-image: url(http://i.imgur.com/bQKSbqYb.jpg);
}

.three {
  background-image: url(http://i.imgur.com/5jNcEeVb.jpg);
}

.four {
  background-image: url(http://i.imgur.com/BnxjHgHb.jpg);
}

.five {
  background-image: url(http://i.imgur.com/RaFrMYcb.jpg);
}

.six {
  background-image: url(http://i.imgur.com/GlwQOy0b.jpg);
}

.seven {
  background-image: url(http://i.imgur.com/8ngsVa8b.jpg);
}

.eight {
  background-image: url(http://i.imgur.com/lJ8P1wab.jpg);
}

.flag{
  background-image: url(http://i.imgur.com/nLPvW15b.jpg);
}
