html, body, div, label{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  text-align: center;
}

.opening-modal{
  /*change to flex to see*/
  display: none;
  flex-direction: column;
  position: absolute;
  justify-content: space-around;
  top: 20%;
  left: 33%;
  height: auto;
  width: 33%;
  background-color: white;
  text-align: center;
  border: 2px solid black;
  padding-top: 60px;
  padding-bottom: 60px;
}

#board {
  outline: 2px black solid;
}

.row{
  display: inline-block;
}

.square{
  height: 100px;
  width: 100px;
}

.unexplored {
  background-image: url(http://i.imgur.com/HM1e3Tbb.jpg);
}

.bomb {
  background-image: url(http://i.imgur.com/UFmXprFb.jpg)
}

.zero {
  background-image: url(http://i.imgur.com/Flqdqi1b.jpg);
}

.one {
  background-image: url(http://i.imgur.com/bM8oExob.jpg);
}

.two {
  background-image: url(http://i.imgur.com/bQKSbqYb.jpg);
  max-width:100%;
  max-height:100%;
  object-fit: contain;
}

.three {
  background-image: url(http://i.imgur.com/5jNcEeVb.jpg);
  max-width:100%;
  max-height:100%;
  object-fit: contain;
}

.four {
  background-image: url(http://i.imgur.com/BnxjHgHb.jpg);
  max-width:100%;
  max-height:100%;
  object-fit: contain;
}

.five {
  background-image: url(http://i.imgur.com/RaFrMYcb.jpg);
  max-width:100%;
  max-height:100%;
  object-fit: contain;
}

.six {
  background-image: url(http://i.imgur.com/GlwQOy0b.jpg);
  max-width:100%;
  max-height:100%;
  object-fit: contain;
}

.seven {
  background-image: url(http://i.imgur.com/8ngsVa8b.jpg);
  max-width:100%;
  max-height:100%;
  object-fit: contain;
}

.eight {
  background-image: url(http://i.imgur.com/lJ8P1wab.jpg);
  max-width:100%;
  max-height:100%;
  object-fit: contain;
}


/*label {
  display: flex;
  flex-direction : column;
}*/
